body {
  background: #eeeeee;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

header,
.container,
footer {
  margin: 0 auto;
  width: 88%;
  max-width: 1080px;
}

.wrapper {
  background: #ffffff;
  padding: 1em 0;
}


/* Navigation
------------------------------------------*/

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: .5em;
}

nav ul li a {
  padding: .5em 1em;
  background: #cccccc;
  border-radius: 15px;
  transition: all 1s ease-in-out;
}

nav ul li a:hover {
  background: pink;
}

/* Cart
------------------------------------------*/
.products {
	list-style: none;
	padding: 0;
	display:flex;
}
.products li {
	margin-right:.5em;
}

table {
	border:1px solid red;
}

th {
	border:1px solid green;
}

tr {
	border:1px solid orange;
}